<div class="col-md-6">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName" 
             [ngClass]="{ 'is-invalid': submitted && addForm.controls.firstName.errors }" />
              <div *ngIf="submitted && addForm.controls.firstName.errors" class="invalid-feedback">
                <div *ngIf="addForm.controls.firstName.errors.required">First Name is required</div>
              </div>   
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName" required>
    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <input formControlName="address" placeholder="Address" name="address" class="form-control" id="address" required>
    </div>

    <div class="btn-group btn-group-sm">
      <button class="btn btn-success" [disabled]="addForm.invalid">Add</button> &nbsp;
    	<button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
    </div>

  </form>
</div>
